.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 15vw; 
    margin-right: 15vw;
    min-width: 700px;
}

.tab:hover {
    background-color: #2397a8;
    border-radius: 5px;
    cursor: pointer;
}
